.Auth-container{
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.form-container{
    place-self: center;
    width: max(23vw,330px);
    color:#808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 30px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    font-family: "Archivo", sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.form-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.form-title h2{
    font-size: 30px;
}
.form-title img{
    width: 15px;
    cursor: pointer;
}
.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 5px;    
}
.form-container button{
    border:none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #ff4949;
    font-size: 15px;
    cursor: pointer;
}
.Auth-Condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -12px;
}
.Auth-Condition input{
    margin-top: 5px;
}
.Auth-container p span{
    color: #ff4949;
    font-weight: 600;
    cursor: pointer;
    font-size: 15.5px;
}